<header>
    <h1>Olivier Teste</h1>
    <nav>
        <a routerLink=""><img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" class="icon black"> Home</a>
        <a routerLink="photos"><img src="https://cdn-icons-png.flaticon.com/512/83/83574.png" class="icon black">
            Photos</a>
        <a routerLink="employees"><img src="https://cdn-icons-png.flaticon.com/512/2572/2572970.png" class="icon black">
            Employees List</a>
        <a routerLink="skinFounder"><img src="https://mc-heads.net/head/Notch" class="icon"> Skin Founder</a>
        <a routerLink="hp"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Sign_of_the_Deathly_Hallows.svg/884px-Sign_of_the_Deathly_Hallows.svg.png"
                class="icon black"> Harry Potter Wiki</a>
        <a routerLink="fb"><img src="https://www.pngmart.com/files/12/Flappy-Bird-Logo-PNG-File.png" class="icon">
            Flappy Bird</a>
        <a routerLink="reactionTest"><img
                src="https://findicons.com/files/icons/2711/free_icons_for_windows8_metro/512/cursor.png"
                class="icon black"> Reaction Test</a>
        <a routerLink="projectGestion"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/VisualEditor_-_Icon_-_Bullet-list-ltr.svg/768px-VisualEditor_-_Icon_-_Bullet-list-ltr.svg.png"
                class="icon black"> Gestion de Projet</a>
    </nav>
</header>